/* Live Demo of Basic Selectors */
div.universal-selector * { 
  border: 1px dotted black; 
}

div#id-selector {
  background: #e3e3e3;
}

div#x-container li.warning {
  color: red;
} 

div.xtype-selector div {
  border: 1px solid black;
}

/* style headings */
h2:not(:first-child) {
  margin: 4rem 0 0 0;
}

/* Live Demo of Combinator Selectors */
 div.xy-selector div p {
    color: red;
  }
  
  div#adj-container ul + p {
    color: red;
  }
  
  div#direct-container > ul {
    border: 1px solid black;
  }
  
  div#sib-container ul ~ p {
    color: red;
  }
  
  /* style headings */
  h2:not(:first-child) {
    margin: 4rem 0 0 0;
  }

  /* Live Demo of Attribute Selectors */
 div#aatr-container a[title] {
    color: green;
  }
  
  div#batr-container a[href="https://webdesign.tutsplus.com"] {
    color: #49b293;
  }
  
  div#catr-container a[href*="tuts"] {
    color: #49b293;
  } 
  
  div#datr-container a[href^="http"] {
           color: red;
        }  
  
  div#eatr-container a[href$=".jpg"] {
           color: red;
        } 
  
  div#fatr-container a[data-filetype="image"] {
        color: red;
      }
  
  /* style headings */
  h2:not(:first-child) {
    margin: 4rem 0 0 0;
  }

  /* Live Demo of Pseudo Selectors */
 div#xvl-container a:link { color: red; }
div#xvl-container a:visited { color: green; }

div#xchk-container input[type=radio]:checked + label {
  color: blue;
}

div#xnot-container div:not(#container) {
      color: blue;
   }

div#xnot-container * *:not(p) {
  color: green;
}

div#xpsel-container p::first-line {
  font-weight: bold;
  font-size: 1.2em;
}

div#xpsel-container p::first-letter {
  float: left;
  font-weight: bold;
  font-family: cursive;
  font-size: 2em;
  padding-right: 2px;
}

/* style headings */
h2:not(:first-child) {
  margin: 4rem 0 0 0;
}

/* Live Demo of Nth Child and Type Selectors
 */
 div#xnch-container li:nth-child(2) {
    color: red;
  }
  
  div#xnlch-container li:nth-last-child(2) {
    color: red;
  }
  
  div#xntp-container ul:nth-of-type(3) {
     border: 1px solid black;
  }
  
  div#xnltp-container ul:nth-last-of-type(3) {
     border: 1px solid black;
  } 
  
  div#xflch-container ul {
    background: #292929;
    color: white;
    list-style: none;
    padding-left: 0;
  }
  
   div#xflch-container li {
     padding: 10px;
     border-bottom: 1px solid black;
     border-top: 1px solid #3c3c3c;
  }
  
  div#xflch-container li:first-child {
      border-top: none;
  }
  
  div#xflch-container li:last-child {
     border-bottom: none;
  }
  
  div#xoch-container div p:only-child {
    color: red;
  }
  
  div#xot-container div p:only-of-type {
    color: red;
  }
  
  div#xot-container li:only-of-type {
    font-weight: bold;
  }
  
  div#xfot-container ul:first-of-type > li:nth-child(2) {
    font-weight: bold;
  }
  
  
  /* style headings */
  h2:not(:first-child) {
    margin: 4rem 0 0 0;
  }